// 顏色在這裡
$orange : #F29441;
$green: #AFBF30;
$bg: #F2F2F2;
$brown: #513F2E;
$d-pink: #F25790;
$b-pink: #F3DAD8;

// 文字大小在這裡
$h1_pri : 38px;
$h1_sub : 32px;
$h2 : 24px;
$h3 : 20px;
$p  : 16PX;

// 陰影在這裡
$shadow : 3px 3px 10px rgba(0, 0, 0, 0.25);