// 按鈕樣式
@mixin btn($bg , $lh, $w, $hover){
    background: $bg;
    line-height: $lh;
    width: $w;
    display: block;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    box-shadow: $shadow;
    transition: .3s;
    cursor: pointer ;
    color: #fff;
    &:hover{
        background: $hover;
    }
};

// input text欄位
@mixin input-text($lh, $w){
    padding-left: 20px;
    line-height: $lh;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-size: $p;
    width: $w;
    box-sizing: border-box;
    outline: none;
    letter-spacing: 1px;
}

// 側邊選單
@mixin sidemenu(){
    display: block;
    text-decoration: none;
    border-radius: 5px;
    line-height: 59px;
    width: 200px;
    color: #fff;
    box-sizing: border-box;
    padding-left:35px;
    font-size: $h3;
    background: $green;
    margin-bottom: 10px;
    transition: .3s;
    letter-spacing: 2px;
    &:hover{
        background: $orange;
    }
}
